@CHARSET "UTF-8";

.subTitle {
    color: #1D9E48;
    font-size: 16px;
    border-left: solid 5px #1D9E48;
    padding-left: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 28px;
}

table,th,td{
    border: 1px #000000 solid;
}

.normal_table {
    border:1;
    width:60%;
}

.warnA {
    color: #FF0000;
}
